<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Agendao - Bienvenido</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="home">
  <div class="home-container">
    <div class="content">
      <h1>Bienvenido a <span class="marca">Agendao</span></h1>
      <p>La solución digital para barberías, peluquerías, spas y más. Gestiona tus citas fácil, rápido y desde cualquier
        lugar.</p>
      <a href="registro.html">
        <button>Registrarse</button>
      </a>
    </div>
  </div>
</body>

</html>